*{
    margin: 0;
    font-family: system-ui, Roboto;
}

.navbar{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex: auto;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
}
ul{
    display: flex;
    list-style: none;
}
ul li{
    margin-right: 20px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #e8eb47;
}

.hero{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 25px;
    padding-top: 10%;
    padding-bottom: 10%;
    height: auto;
    font-size: 30px;
    font-weight: 900;
}
.hero img {
    min-height: 100px;
    min-width: auto;
    border-radius: 5%;
    box-shadow: #f1f1f1;

}
.hero h1{
    font-size: 48px;
    font-weight: 900;
    padding-right: 25px;
    color: #f9faf8;
}
.hero p{
    font-weight: 300;
    padding-right: 25px;
    color: #f9faf8;

}

.image{
    border-radius: 5%;
    box-shadow: #f1f1f1;
}

.services{
    justify-content: space-between;
    padding: 20px;
    background-color: #f9faf8;
    text-align: center;
}
.card div img{
    display: inline-block;
    justify-content: space-between;
    width: 100px;
    height: auto;
    padding: 20px;

    background-color: #f9faf8;
    border-radius: 10%;
    text-align: center;
    border-color: #3882f9;
    border-style: solid;
}
.card{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button{
    background-color: #f1f1f1;
    color: #3882f9;
    padding: 10px 20px;
    text-decoration: none;
    Padding: 10px 20px;
    margin-top:10px;
}

.footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    flex: auto;
    padding-right: 50px;
}

.cta{
    display: flex;
    flex:auto;
    padding: 20px;
    margin: 100px;
    background-color: #3882f9;
    color: white;

}
.cta div{
    padding: 20px;
    margin-left: 25px;
    text-align: center;
}

.quote{  
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}
.quotesec{
    background-color: #e5e7eb;
    text-align: center;
    padding: 80px;

}
.author{
    font-size: 24px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}